name: Node.js CI

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Set up Prisma
        run: |
          npm install @prisma/client
          npx prisma generate

      - name: Deploy to Server
        env:
          SSH_PRIVATE_KEY: sgBfiRUk+phfwX+StN6zYf98qiEp+JZ5ptVueXDknGM
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          ssh -o StrictHostKeyChecking=no ishanhimalka1@gmail.com@192.168.0.11 'bash -s' << 'EOF'
          cd /path/to/your/app
          git pull origin main
          npm install
          npx prisma migrate deploy
          pm2 restart all
          EOF
